VITE_SUPABASE_URL=https://riajhxegskgwytmpcvut.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJpYWpoeGVnc2tnd3l0bXBjdnV0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMyMzY1NDgsImV4cCI6MjA5ODgxMjU0OH0.By0kyHCMaqZSgEPoyK9_wDXvtVfBeh1DYq-GIpRWKrY
